:root{
    --background-color: #161717;
    --sidebar-color : #040505;
    --primary-text: #e4e6eb;
    --secondary-text: #b9bbbe;
    --sent-bubble: #054640;
    --recieved-bubble: #2a3942;
    --accent-color: #25d366;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}
aside{
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 18px 16px;
    justify-content: space-between;
    color: #A9AAAA;
    background-color: var(--sidebar-color);
    align-items: center;
    z-index: 300;
}
.nav-items-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nav-item{
    position: relative;
    padding: 10px;
    border-radius: 200px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    z-index: 20;
}
/*========ACTIVE NAV ITEM CLASS========*/
.active-nav-item{
    background-color: rgba(255, 255, 255, 0.08);
    i{
        color: rgb(247, 247, 247);
    }
}


.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.08);
    .tooltip{
        display: block;
        opacity: 1;
    }
}
.nav-item i{
    font-size: 18px;
}
.nav-item .tooltip{
    position: absolute;
    left: 50px;
    top: 20%;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
    background-color: white;
    color: black;
    padding: 5px 7px;
    border-radius: 3px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    z-index: 200;
}
.nav-item .unread-flag{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    border-radius: 200px;
    width: 7px;
    height: 7px;
}
#chat-unread-flag{
    padding: 9px;
    font-size: 11px;
    font-weight: 600;
    right: -1px;
}


.line{
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.3;
}

.nav-items-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.user-dp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.user-dp .tooltip{
    left: 55px;
}
.user-dp img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 300px;
}
.left-section{
    margin-left: 82px;
    background-color: #101111;
    height: 100vh;
}
.chat-section{
    background-color: #101111;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    height: 100%;
    border-right: 1px solid rgb(45, 44, 44);
    position: relative;
    min-width: 480px;
    max-width: 560px;
    resize: horizontal;
    overflow: hidden;
}
.header-container{
    display: flex;
    color: var(--primary-text);
    flex-direction: column;
    gap: 23px;
    background-color: #101111;
    width: 100%;
    padding-bottom: 10px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.action-buttons{
    display: flex;
    gap: 7px;
}
.action-buttons i{
    border-radius: 200px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.action-buttons i:hover{
    background-color: rgba(255, 255, 255, 0.08);
}
.search-bar-container{
    position: relative;
    width: 100%;
}
.search-bar-container i{
    position: absolute;
    top: 34.5%;
    left: 15px;
    font-size: 13px;
}
.search-bar-container input{
    width: 100%;
    background: none;
    border: none;
    height: 42px;
    border-radius: 300px;
    padding-left: 45px;
    background-color: rgb(47, 45, 45);
    color: white;
    transition: all 0.2s ease-in-out;
}
.search-bar-container input::placeholder{
    font-size: 14.4px;
}
.search-bar-container input:focus{
    outline: none;
    background-color: rgb(58, 55, 55);
}

.chats-filter-container{
    display: flex;
    gap: 15px;
    justify-content: left;
    padding-left: 10px;
}
.chat-filter-group{
    background: none;
    border: none;
    padding: 8px 13px;
    border-radius: 200px;
    background-color: rgb(53, 51, 51);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.chat-filter-group:hover{
    background-color: rgb(63, 61, 61);
}

.active-chat-filter-group{
    background-color: rgba(1, 255, 1, 0.1);
    outline: 1px solid rgb(97, 97, 97);
}
.chat-list{
    color: white;
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 4px;
    padding-bottom: 30px;
    transition: all 0.2s ease-in-out;
}
.chat-list::-webkit-scrollbar{
    display: none;
}


.archived-chats-link{
    display: flex;
    align-items: center;
    color: rgb(196, 191, 191);
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.archived-chats-link:hover{
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
}
.archived-chats-link-left{
    display: flex;
    align-items: center;
    gap: 25px;
}
.chat-container{
    display: grid;
    grid-template-columns: 40px 1fr;
    width: 100%;
    padding: 15px 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}
.chat-container:hover{
    background-color: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}
.active-contact{
    background-color: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}
.profile-picture-container{
    width: 45px;
    height: 45px;
    align-self: center;
    margin-right: 20px;
}
.profile-picture-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}
.chat-container-top{
    padding-left: 15px;
}
.chat-container-top-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-container-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
.chat-container-bottom-info{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.chat-container-bottom-info i{
    margin-right: 8px;
}
.contact-name{
    color: rgb(245, 243, 243);
    font-weight: 500;
    font-size: 15px;
    font-weight: 600;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 3px;
}
.last-message-sent-time{
    font-size: 12px;
    color: var(--accent-color);
}
.message-status-icon{
    color: var(--secondary-text);
    font-size: 13px;
}
.last-message{
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-text);
    max-width: 290px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.number-of-unread-chats{
    font-size: 12px;
    width: 17px;
    height: 17px;
    background-color: var(--accent-color);
    color: black;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
}

/*=====Right section styling======*/

.right-section{
    width: 100%;
    color: var(--primary-text);
}
.active-chat-header-grid{
    display: grid;
    grid-template-columns: 40px 1fr 1fr;
    padding: 13px 15px;
    background-color: #0f1010;
    align-items: center;
    border-bottom: 1px solid rgb(75, 73, 73);
}
.active-chat-header-image-container{
    width: 40px;
    height: 40px;
}

.chat-right-section{
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.chat-background-image{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
}
.active-chat-header-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
    cursor: pointer;
}
.active-chat-info-container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 6px;
}
.active-chat-name{
    font-size: 15px;
    font-weight: 700;
    font-family: helvetica;
}
.active-chat-description{
    font-size: 12px;
    color: var(--secondary-text);
    cursor: pointer;
}
.active-chat-info-container-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active-chat-action-button{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: end;
}
.active-chat-action-button i{
    border-radius: 200px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.active-chat-action-button i:hover{
    background-color: rgba(255, 255, 255, 0.08);
}
.main-user-input-container-fixed{
    bottom: 10px;
    position: absolute;
    width: 100%;
    z-index: 20;
}
.main-user-input-container{
    position: relative;
    padding: 5px 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.main-user-input-container i{
    position: absolute;
    cursor: pointer;
    border-radius: 200px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.fa-smile:hover, .fa-plus:hover{
    background-color: rgba(255, 255, 255, 0.08);
}
.main-user-input-container input{
    justify-self: center;
    /*Changes made from here*/
    background: none;
    background-color: transparent;
    backdrop-filter: blur(40px);
    outline: 1px solid rgb(123, 122, 122);
    /*to here*/
    height: 55px;
    border-radius: 200px;
    border: none;
    padding-left: 95px;
    color: white;
    padding-right: 80px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.main-user-input-container input::placeholder{
    font-size: 16px;
}
.main-user-input-container input:focus{
    outline: 1px solid rgb(193, 189, 189);
}
.input-icons{
    position: absolute;
    display: flex;
    align-items: center;
    left: 30px;
    z-index: 20;
}
.fa-smile{
    left: 37px;
}

#voice-note-icon{
    transition: all 0.3s ease-in-out;
    right: 30px;
}
#voice-note-icon:hover{
    background-color: var(--accent-color);
    color: rgb(0, 0, 0);
    scale: 1.2;
}
.send-message-btn{
    background-color: var(--accent-color);
    color: rgb(0, 0, 0);
    scale: 1.2;
    transition: all 0.3s ease-in-out;
    right: 30px;
    rotate: 35deg;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}
.send-message-btn:hover{
    background-color: #1c9c4b;
}


.default-active-chat-template{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.default-active-chat-template img{
    width: 200px;
    border-radius: 10px;
    filter: grayscale(100%);
}
.default-active-chat-template p{
    display: flex;
    align-items: center;
    color: rgb(203, 197, 197);
    gap: 5px;
    font-size: 14px;
}
.default-active-chat-template i{
    color: grey;
}
.default-active-chat-template p span{
    color: var(--accent-color);
}
.messages-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    padding: 10px;
    gap: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.messages-container::-webkit-scrollbar{
     display: none;
}
.message{
    position: relative;
    padding: 0 12px;
    padding-top: 7px;
    border-radius: 8px;
    width: fit-content;
    padding-bottom: 30px;
    max-width: 350px;
    line-height: 24px;
    min-width: 150px;
    font-size: 13px;
    text-wrap: wrap;
}
.recieved-message{
    background-color: rgb(39, 37, 37);
}
.sent-message{
    background-color: rgb(12, 67, 7);
    margin-left: auto;
    color: white;
    white-space: collapse;
}
.message-info{
    display: flex;
    font-size: 12px;
    color: rgb(181, 174, 174);
    align-items: center;
    gap: 3px;
    position: absolute;
    right: 7px;
    bottom: 1px;
}
.message-time{
    font-size: 10px;
    color: rgb(181, 174, 174);
}
.message-status{
    font-size: 10px;
}
.bottom-overlay{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 100px 40px 200px rgba(0, 0, 0, 0.7);
}
.no-of-unread-archived-chats{
    font-size: 12px;
}

@media (max-width:1100px){
    .left-section{
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }
    aside{
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
}